
.widget {
    box-sizing: border-box;
    color: #333;
    display: inline-block;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    position: relative;
    padding-right: 1px;
}

.day {
    align-items: center;
    border: 1px solid #000;
    display: inline-flex;
    justify-content: center;
    margin-right: -1px;
    position: relative;
    height: 30px;
    width: 30px;
    vertical-align: top;
}

.day .label {
    top: 0;
    left: 0;
    font-size: 10px;
    line-height: 1;
    padding: 1px;
    position: absolute;
    text-transform: capitalize;
}

.day .icon {
    position: relative;
    height: 20px;
    max-width: 20px;
    margin-bottom: -5px;
    margin-right: -10px;
}

.day .icon svg {
    height: 100%;
    max-width: 100%;
}

.day:global(.green) svg {
    fill: #0faf0f;
}
.day:global(.green) {
    background: repeating-linear-gradient(
        45deg,
        #00ff95,
        #00ff95 5px,
        #b4ffbe 5px,
        #b4ffbe 10px
    );
}

.day:global(.yellow) svg {
    fill: #d3d30f;
}
.day:global(.yellow) {
    background: repeating-linear-gradient(
        45deg,
        #ffff4f,
        #ffff4f 5px,
        #ffffaa 5px,
        #ffffaa 10px
    );
}

.day:global(.red) svg {
    fill: red;
}
.day:global(.red) {
    background: repeating-linear-gradient(
        45deg,
        #df3d3d,
        #df3d3d 5px,
        #a52b2b 5px,
        #a52b2b 10px
    );
}

.day:global(.blue) svg {
    fill: #3232ff;
}
.day:global(.blue) {
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 5px,
        #465298 5px,
        #465298 10px
    );
}
